body {
  background-image:url('../imgs/bglogin.jpg');
  background-size: cover;
  background-position-y:bottom ;
  background-position-x: right;
  height: 100vh;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
 user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.icon-cuenta {
    padding-top: 50px;
    width: 130px;
    display: block;
    margin: auto;
}
.headerDogeBank {
  background: #1e4151 ;
}
#movimientos {
  background:rgba(255, 255, 255, 0.459);
  height: 100vh;
  
}